.Quote{
    position: relative;
    margin : 6% auto;
    width: 65%;
    padding: 20px 30px;
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 14px;
    z-index: 2;
    box-shadow: -6px 6px #DF80AC, -8px 8px #000;
    p{
        text-align: justify;
        &:nth-child(2){
            text-align: end;
        }
    }
}