@import "../css/main.css";

.Quote{
    position: relative;
    margin : 0 auto;
    width: 65%;
    padding: 20px 30px;

    @include borderBox;
    p{
        text-align: justify;
        &:nth-child(2){
            text-align: end;
        }
    }
}