.Quote{
    margin-top: 300px;
    position: relative;
    width: 40%;
    height: 25%;
    background-color: #DF80AC;
    border: solid 2px #000;
    border-radius: 14px;
    & > div {
        position: absolute;
        bottom: 9px;
        left: 8px;
        width: calc(100% - (24px + 35px));
        height: calc(100% - 78px);
        padding: 25px 24px 53px 35px;
        background-color: #fff;
        border: solid 2px #000;
        border-radius: 14px;
        p{
            height: fit-content;
            text-align: justify;
            &:nth-child(2){
                text-align: end;
            }
        }
    }
}