@import "../css/main.css";
.Gif{
    width: 65%;
    height: 25%;
    padding: 20px 30px;
    margin: 6% auto;
    margin-bottom: 2%;
    @include borderBox;
    figure{
        height: 100%;
        margin: auto 0;
        img{
            height: 100%;
        }
    }

}