.Gif{
    border: solid 2px #000;
    border-radius: 14px;
    background-color: #fff;
    width: 65%;
    height: 25%;
    box-shadow: -3px 3px #DF80AC;
    padding: 30px;
    margin: 6% auto;
    img{
        width: 60%;
        object-fit: contain;
    }

}